<div class="body">
  <div class="cursos-todo">
      <span class="display-4">Em progesso</span>
      <div class="card" style="width: 22rem;">
        <img src="../../assets/img/macaco.png" class="card-img-top">
        <div class="card-body" routerLink="/pipes-training">
          <h5 class="card-title">Pipes</h5>
          <p class="card-text">Curso para melhor entedimento de Pipes.</p>
          <!-- <a href="#" class="btn btn-primary" routerLink="/dinamic-form">Bora codar</a> -->
        </div>
      </div>
  </div>

  <div class="cursos-done">
      <span class="display-4">Concluído</span>
      <div class="card" style="width: 22rem;">
        <img src="../../assets/img/tiger.jpg" class="card-img-top">
        <div class="card-body" routerLink="/validation-advanced">
          <h5 class="card-title">Validações Avançadas</h5>
          <p class="card-text">Curso para validações no modo hardcore e elegante.</p>
          <!-- <a href="#" class="btn btn-success" routerLink="/validation-advanced">Revisar</a> -->
        </div>
      </div>
      <div class="card" style="width: 22rem;">
        <img src="../../assets/img/dog.jpg" class="card-img-top">
        <div class="card-body" routerLink="/form-validation">
          <h5 class="card-title">Validações de Forms</h5>
          <p class="card-text">Curso para melhorar as habilidades com validações de formulários.</p>
          <!-- <a href="#" class="btn btn-success" routerLink="/form-validation">Revisar</a> -->
        </div>
      </div>
      <div class="card" style="width: 22rem;">
        <img src="../../assets/img/capivara.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Observables</h5>
          <p class="card-text">Como funciona um Observable? Qual as diferenças entre Observable e Promisse?</p>
          <!-- <a href="#" class="btn btn-success">Revisar</a> -->
        </div>
      </div>
  </div>
</div>
